.version.index /* version checker */
{
	color: #0000FC;
	background-color: #1537BE;
}

.html
{
	background-color: #77CEC8;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u117
{
	z-index: 36;
	height: 97px;
	top: 0px;
}

#u117-bw
{
	z-index: 36;
}

#u111
{
	z-index: 37;
	width: 227px;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#pu145
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 228px;
	margin-left: 44px;
}

#u145
{
	z-index: 6;
	width: 254px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 42px;
	position: relative;
}

#u168-4
{
	z-index: 12;
	width: 198px;
	min-height: 40px;
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 27px;
}

#u151
{
	z-index: 7;
	width: 254px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 45px;
	margin-top: 37px;
	position: relative;
}

#u169-4
{
	z-index: 24;
	width: 198px;
	min-height: 40px;
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 27px;
}

#u346
{
	z-index: 40;
	width: 311px;
	min-height: 55px;
	top: 26px;
	left: 50%;
	margin-left: -245px;
}

#pu144-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 149px;
	margin-left: 371px;
}

#u144-4
{
	z-index: 2;
	width: 278px;
	min-height: 40px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u148
{
	z-index: 8;
	width: 254px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 42px;
	margin-left: 12px;
	margin-top: 39px;
	position: relative;
}

#u148:hover
{
	background-color: #EFFFFF;
	width: 254px;
	min-height: 0px;
	margin: 39px 0px 0px 12px;
}

#u172-4
{
	z-index: 16;
	width: 198px;
	min-height: 40px;
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 28px;
}

#u152
{
	z-index: 9;
	width: 254px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 45px;
	margin-left: 12px;
	margin-top: 37px;
	position: relative;
}

#u152:hover
{
	background-color: #EFFFFF;
	width: 254px;
	min-height: 0px;
	margin: 37px 0px 0px 12px;
}

#u171-4
{
	z-index: 28;
	width: 198px;
	min-height: 40px;
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 28px;
}

#u344
{
	z-index: 39;
	width: 445px;
	min-height: 55px;
	top: 26px;
	left: 50%;
	margin-left: 75px;
}

#pu149
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 228px;
	margin-left: 722px;
}

#u149
{
	z-index: 10;
	width: 254px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 42px;
	position: relative;
}

#u145:hover,#u149:hover
{
	background-color: #EFFFFF;
	width: 254px;
	min-height: 0px;
	margin: 0px;
}

#u174-4
{
	z-index: 20;
	width: 198px;
	min-height: 40px;
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 29px;
}

#u150
{
	z-index: 11;
	width: 254px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 44px;
	margin-top: 37px;
	position: relative;
}

#u151:hover,#u150:hover
{
	background-color: #EFFFFF;
	width: 254px;
	min-height: 0px;
	margin: 37px 0px 0px;
}

#u173-4
{
	z-index: 32;
	width: 198px;
	min-height: 40px;
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 29px;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

