.version.map /* version checker */
{
	color: #000017;
	background-color: #BB1992;
}

.html
{
	background-color: #77CEC8;
}

#page
{
	z-index: 1;
	width: 924px;
	min-height: 311.85000000000025px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 142px 38px 46.14999999999975px;
}

#u117
{
	z-index: 36;
	height: 97px;
	top: 0px;
}

#u117-bw
{
	z-index: 36;
}

#u111
{
	z-index: 37;
	width: 227px;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#u346
{
	z-index: 40;
	width: 283px;
	min-height: 55px;
	top: 26px;
	left: 50%;
	margin-left: -245px;
}

#u344
{
	z-index: 39;
	width: 357px;
	min-height: 55px;
	top: 26px;
	left: 50%;
	margin-left: 86px;
}

#u413
{
	z-index: 41;
	width: 25px;
	top: 42px;
	left: 50%;
	margin-left: 436px;
}

#u413_img
{
	padding-right: 2px;
}

#u771-4
{
	z-index: 23;
	width: 432px;
	min-height: 40px;
	background-color: transparent;
	letter-spacing: -1px;
	font-size: 23px;
	text-align: center;
	line-height: 28px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 246px;
	position: relative;
}

#u397
{
	z-index: 2;
	width: 778px;
	background-color: #FFFFFF;
	border-radius: 12px;
	margin-top: 42px;
	position: relative;
	padding: 20px 73px 96.14999999999998px;
}

#pu405
{
	width: 0.01px;
}

#u405
{
	z-index: 43;
	width: 331px;
	min-height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u785
{
	z-index: 31;
	width: 190px;
	background-color: #77CEC8;
	border-radius: 12px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 588px;
}

#u785:hover
{
	background-color: #5FCEC8;
	width: 190px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u786-4
{
	z-index: 32;
	width: 127px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 21px;
	text-align: center;
	line-height: 25px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 31px;
}

#u398
{
	z-index: 3;
	width: 676px;
	border-width: 6px;
	border-style: solid;
	border-color: #77CEC8;
	background-color: transparent;
	border-radius: 12px;
	margin-left: 45px;
	margin-top: 30px;
	position: relative;
}

#u398 .clip_frame
{
	-webkit-border-radius: 6px 6px 6px 6px;
}

#pu768-9
{
	width: 0.01px;
	margin-top: 31px;
}

#u768-9
{
	z-index: 5;
	width: 319px;
	min-height: 54px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
}

#u780-4
{
	z-index: 27;
	width: 135px;
	min-height: 47px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 33px;
	text-align: center;
	line-height: 40px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 321px;
}

#u769-9
{
	z-index: 14;
	width: 319px;
	min-height: 54px;
	background-color: transparent;
	font-size: 20px;
	text-align: right;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	left: 459px;
}

#u768-2,#u769-2
{
	padding-bottom: 12px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

#u768-4,#u768-7,#u769-4,#u769-7
{
	padding-bottom: 12px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
}

#u768-6,#u769-6
{
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 51px;
}

#page .verticalspacer
{
	clear: both;
}

