.version.search /* version checker */
{
	color: #0000F9;
	background-color: #0DA926;
}

.html
{
	background-color: #77CEC8;
}

#page
{
	z-index: 1;
	width: 913px;
	min-height: 314px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 140px 37px 46px 50px;
}

#u117
{
	z-index: 165;
	height: 97px;
	top: 0px;
}

#u117-bw
{
	z-index: 165;
}

#u111
{
	z-index: 166;
	width: 227px;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#u346
{
	z-index: 169;
	width: 283px;
	min-height: 55px;
	top: 26px;
	left: 50%;
	margin-left: -245px;
}

#u344
{
	z-index: 168;
	width: 357px;
	min-height: 55px;
	top: 26px;
	left: 50%;
	margin-left: 86px;
}

#u413
{
	z-index: 170;
	width: 25px;
	top: 42px;
	left: 50%;
	margin-left: 436px;
}

#u413_img
{
	padding-right: 2px;
}

#u339-4
{
	z-index: 2;
	width: 278px;
	min-height: 40px;
	background-color: transparent;
	font-size: 23px;
	text-align: center;
	line-height: 28px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 311px;
	position: relative;
}

#pu632
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 46px;
}

#u632
{
	z-index: 6;
	width: 414px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

.Style
{
	-pie-box-shadow: none;
	box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	border-width: 10px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 110px;
}

#u678
{
	z-index: 62;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -15px;
	left: -14px;
}

#u681-4
{
	z-index: 65;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu640
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 21px;
}

#u640
{
	z-index: 14;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u656-4
{
	z-index: 30;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u1288-6
{
	z-index: 77;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1289-5
{
	z-index: 101;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u636
{
	z-index: 10;
	width: 414px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u642
{
	z-index: 16;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u659-4
{
	z-index: 46;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u1290-6
{
	z-index: 121;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1291-5
{
	z-index: 145;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu633
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 29px;
}

#u633
{
	z-index: 7;
	width: 414px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u644
{
	z-index: 18;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u657-4
{
	z-index: 34;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu1288-6,#pu1293-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 265px;
}

#u1293-6
{
	z-index: 83;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1292-5
{
	z-index: 106;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u637
{
	z-index: 11;
	width: 414px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u679
{
	z-index: 63;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	left: -15px;
}

#u682-4
{
	z-index: 69;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu642,#pu644,#pu646
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 21px;
}

#u646
{
	z-index: 20;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u660-4
{
	z-index: 50;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu1290-6,#pu1294-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 277px;
}

#u1294-6
{
	z-index: 127;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1295-5
{
	z-index: 150;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u634
{
	z-index: 8;
	width: 414px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u648
{
	z-index: 22;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u658-4
{
	z-index: 38;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 14px;
	position: relative;
}

#u1297-6
{
	z-index: 95;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1296-5
{
	z-index: 116;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u638
{
	z-index: 12;
	width: 414px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u680
{
	z-index: 64;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -13px;
	left: -14px;
}

#u683-4
{
	z-index: 73;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu650
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 21px;
}

#u650
{
	z-index: 24;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u661-4
{
	z-index: 54;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u1298-6
{
	z-index: 139;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1299-5
{
	z-index: 160;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu634,#pu635
{
	width: 0.01px;
	margin-top: 28px;
}

#u635
{
	z-index: 9;
	width: 414px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u652
{
	z-index: 26;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u700-4
{
	z-index: 42;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 10px;
	position: relative;
}

#pu1297-6,#pu1301-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 265px;
}

#u1301-6
{
	z-index: 89;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1300-5
{
	z-index: 111;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u639
{
	z-index: 13;
	width: 414px;
	-pie-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u632:hover,#u636:hover,#u633:hover,#u637:hover,#u634:hover,#u638:hover,#u635:hover,#u639:hover
{
	-pie-box-shadow: 0px 5px 0px #7F7F7F;
	box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	width: 414px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu648,#pu652,#pu654
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 21px;
}

#u654
{
	z-index: 28;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u699-4
{
	z-index: 58;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 10px;
	position: relative;
}

#pu1298-6,#pu1302-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 277px;
}

#u1302-6
{
	z-index: 133;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1288-2,#u1290-2,#u1293-2,#u1294-2,#u1297-2,#u1298-2,#u1301-2,#u1302-2
{
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

#u1303-5
{
	z-index: 155;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u1288,#u1289,#u1290,#u1291,#u1293,#u1292,#u1294,#u1295,#u1297,#u1296,#u1298,#u1299,#u1301,#u1300,#u1302,#u1303
{
	font-family: fira-sans, sans-serif;
	font-weight: 700;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 51px;
}

#page .verticalspacer
{
	clear: both;
}

