
<div class="clearfix colelem" id="u989-4">
    <!-- content -->
    <h2>Hey, want to search for events?</h2>
</div>
<div class="clearfix colelem" id="pu982">
    <!-- group -->
    <div class="grpelem" id="u982">
        <!-- custom html -->
        <input style="
    font-size: 1em;
    border: 1px solid #ddd;
    background: #fff;
    padding: .9em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    margin: .4em 0" type="text" name="name" placeholder="When do you want to go?">
    </div>
    <div class="grpelem" id="u984">
        <!-- custom html -->
        <input style="
    font-size: 1em;
    border: 1px solid #ddd;
    background: #fff;
    padding: .9em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    margin: .4em 0" type="text" name="name" placeholder="What are you looking for?">
    </div>
    <div class="clip_frame clearfix grpelem" id="u998">
        <!-- image -->
        <div id="u998_clip">
            <img class="position_content" id="u998_img" src="~/Images/untitled-121x21.png" alt="" width="20" height="20" />
        </div>
    </div>
</div>
<div class="clearfix colelem" id="u144-6">
    <!-- content -->
    <h2 id="u144-2">Need Suggestions?</h2>
    <h2>Here are the 20 most popular events in Auckland.</h2>
</div>

<div id="class_container">
</div>

@*<div class="verticalspacer"></div>
     </div>
    </div>*@
<!-- JS includes -->
<!-- Other scripts -->

<script>
    @*//var a = @ViewBag.List;
    //console.log(@ViewBag.List);

    //var a = JSON.parse(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.List.Events[0])));*@
    var a = @Html.Raw(ViewBag.Content);
    console.log(a);
    var events = a.events;
    console.log(events);
    var element = document.getElementById("class_container");
    //var element = $("#class_container");

    var count = 1;
    var firstID =553;
    events.forEach(function (value) {

        // best quality
        var imgLink = value.images.images[0].transforms.transforms[3].url;

        // address
        var address = value.address;

        var name = value.name;
        var date = value.datetime_start;
        var description = value.description;

        console.log(address);

        console.log(imgLink);

        if (count == 1)  {
            console.log("here");
            //element.innerHTML = element.innerHTML +"<div class=\"clearfix colelem\>";
        }

        //$(this).

        element.innerHTML = element.innerHTML +"<a class=\"nonblock nontext rounded-corners shadow clearfix grpelem\" id=\"u" + firstID + "\" href=\"event-description.html\"><!-- group --><div class=\"rounded-corners clearfix grpelem\" id=\"u621\"><!-- group -->             <div class=\"clearfix grpelem\" id=\" u623-4\"><!-- content -->                 <p>$</p>             </div>         </div>         <div class=\"clearfix grpelem\" id=\"pu561\"><!-- column -->             <div class=\"clip_frame colelem\" id=\"u561\">                 <!-- image -->                 <img class=\"block\" id=\"u561_img\" src=" + imgLink + "\"  alt=\"\" width=\"225\" height=\"97\" />             </div>             <div class=\"clearfix colelem\" id=\"u577-4\"><!-- content -->                 <p>" + name + "</p><!--NAME OF EVENT-->             </div>         </div>         <div class=\"clearfix grpelem\" id=\"pu583-6\"><!-- column -->             <div class=\"clearfix colelem\" id=\"u583-6\"><!-- content -->                 <p>                     <span id=\"u583\">Where:</span>                     <span id=\"u583-2\"> </span>" + address + "<!-- address-->                 </p>             </div>             <div class=\"clearfix colelem\" id=\"u591-5\"><!-- content -->                 <p><span id=\"u591\">When:</span> " + date + "</p>             </div>         </div>     </a>";

        //element.append("<a class=\"nonblock nontext rounded-corners shadow clearfix grpelem\" id=\"u" + firstID + "\" href=\"event-description.html\"><!-- group --><div class=\"rounded-corners clearfix grpelem\" id=\"u621\"><!-- group -->             <div class=\"clearfix grpelem\" id=\" u623-4\"><!-- content -->                 <p>$</p>             </div>         </div>         <div class=\"clearfix grpelem\" id=\"pu561\"><!-- column -->             <div class=\"clip_frame colelem\" id=\"u561\">                 <!-- image -->                 <img class=\"block\" id=\"u561_img\" src=" + imgLink + "\"  alt=\"\" width=\"225\" height=\"97\" />             </div>             <div class=\"clearfix colelem\" id=\"u577-4\"><!-- content -->                 <p>" + name + "</p><!--NAME OF EVENT-->             </div>         </div>         <div class=\"clearfix grpelem\" id=\"pu583-6\"><!-- column -->             <div class=\"clearfix colelem\" id=\"u583-6\"><!-- content -->                 <p>                     <span id=\"u583\">Where:</span>                     <span id=\"u583-2\"> </span>" + address + "<!-- address-->                 </p>             </div>             <div class=\"clearfix colelem\" id=\"u591-5\"><!-- content -->                 <p><span id=\"u591\">When:</span> " + date + "</p>             </div>         </div>     </a>");


        if (count == 2) {
           // element.innerHTML = element.innerHTML + "</div>";
        }
        count++
        firstID++;
        if (count > 2) count = 1;
    });



</script>

@*@foreach(var Event in ViewBag.List)
    {
        <p>Hello</p>
    }*@

<div id="event_container">


</div>