<div id="body">
    <h2>Hello World!</h2>
    <input type="text" id="query" />
    <button id="atButton">Click me to check AtHop</button>
    <p>
        <button id="busButton">Bus</button>
    </p>
</div>

@Scripts.Render("~/Scripts/TestAtHop")